.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .left {
    margin: auto auto;
  }
  
  .card {
    width: 280px;
    margin: 100px;
  }
  
  .card > img {
    width: 100%;
    border: 1px solid #000;
  }
  
  .card-footer {
    width: 100%;
    text-align: center;
    background-color: blue;
    line-height: 40px;
    font-size: 20px;
    color: #030202;
  }
  
  .input-group {
    width: 250px;
    margin-top: 20px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 12px;
    font-size: 20px;
  }
  
  button {
    padding: 10px 20px;
    color: blue;
    border: 1px solid blue;
    background-color: #fff;
    margin: 5px;
  }
  
  .right {
    margin: 20px auto;
  }
  
  .card2 {
    width: 280px;
    border: 1px solid blue;
    margin-bottom: 10px;
  }
  
  .sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
  }
  
  .sub > img {
    margin-left: 20px;
    width: 100px;
  }
  
  .sub > div {
    display: flex;
    align-items: center;
  }
  
  .answer-right {
    text-align: center;
    color: blue;
    margin: 10px;
  }
  
  .answer-wrong {
    text-align: center;
    color: red;
    margin: 10px;
  }
  
  #error {
    color: red;
    padding: 10px;
  }
  
  .result {
    width: 280px;
    margin: 100px;
    border: 1px solid blue;
    text-align: center;
  }
  
  .result > div {
    margin: 20px;
  }
  